body {
  margin: 0;
  padding: 0;
}
.my-main-container {
  height: 960px;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}
.my-navbar-color {
  display: block !important;
  background-color: whitesmoke !important;
  text-align: center !important;
  margin: 0;
}
.my-brand {
  text-decoration: none;
  font-family: "Metal Mania", cursive;
  padding: 10px;
  font-size: 30px !important;
}
.info {
  width: 100%;
  background-color: whitesmoke;
  height: 900px;
  position: relative;
}
.info-color {
  background: rgb(255, 182, 193);
}
.tap-fram {
  background-color: rgb(119, 114, 114);
  overflow: scroll;
}
.box {
  background-color: whitesmoke;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.fram-box {
  width: 300px;
  height: 300px;
  background-color: white;
  margin-left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  float: left;
  -webkit-box-shadow: 3px 0px 24px -11px rgb(41, 38, 41);
  -moz-box-shadow: 3px 0px 24px -11px rgba(41, 38, 41, 1);
  box-shadow: 3px 0px 24px -11px rgba(41, 38, 41, 1);
}
.img-box {
  width: 50%;
  height: 50%;
  background-color: yellow;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.img-box img {
  width: 100%;
  height: 100%;
}
.about {
  width: 100%;
  height: 400px;
  background-color: black;
  float: left;
}
.upload {
  color: white;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 10%;
  border: rgba(255, 105, 180, 0.377) 1px solid;
  position: absolute;
  bottom: 15%;
  left: 32.5%;
}
.download {
  left: 63%;
}
.file {
  color: white;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 10%;
  border: rgba(255, 105, 180, 0.377) 1px solid;
  position: absolute;
  bottom: 15%;
  left: 40%;
}
.fram-box img {
  width: 100%;
  height: 100%;
}
.button {
  float: left;
  background-color: rgb(21, 211, 53);
  color: azure;
  padding: 5px;
  border-radius: 10px;
  margin-left: 64%;
  margin-top: 52.5%;
  cursor: pointer;
}
.button:hover {
  background-color: crimson;
  color: azure;
}
